html, body {
  overflow-x: hidden;
  background-color: #F9F9F9;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0px;
}

a, a:hover {
  color: inherit;
  cursor: pointer;
}

a.no-underline {
  text-decoration: none !important;
}

  .dropdown .dropbtn {
    border: none;
    outline: none;
    margin: 0;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    right: -15px;
    background-color: #fff;
    color: #000;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 10px 20px;
  }
  
  .dropdown-content a.nav-link {
    color: #000 !important;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .text-sm {
    font-size: 14px !important;
  }
  
  .text-blue {
    color: #227093 !important;
  }
  
  /*----NAVBAR CSS----*/
  .navbar {
    color: #fff;
    font-size: large;
    box-shadow: none;
    background-color: none;
    transition: 0.6s;
  }
  
  .navbar-brand {
    color: #fff;
  }
  
  .logo {
    width: 45px;
    height: 45px;
    border-radius: 50%;
  }
  
  .nav-item {
    margin: auto 5px;
  }
  
  .nav-link:hover {
    font-weight: bold;
  }
  
  .navbar ul li a {
     color: #fff;
  }
  
  .navbar ul li a.active{
      color: #fff;
      font-weight: bold !important;
  }
  
  .circle {
    background-color: #eee;
    border-radius: 50%;
    border-radius: none;
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
  }
  
  .navbar-light {
    background-color: #fff;
    color: #000 !important;
    transition: 0.6s;
    box-shadow: 2px 3px 4px rgba(0,0,0,0.2);
  }
  
  .navbar-light ul li a.active {
    color: #227093 !important;
  }
  
  .navbar-light #small-border {
    background-color: #000 !important;
  }
  
  #smaller-border {
    height: 4px;
    width: 100%;
    background-color:  #fff;
    border-radius: 5px;
    z-index:1;
    position: relative;
    top: 2px;
  }
  
  #top-section {
    background-image: linear-gradient(#277391 35%, #3497BF 100%);
    border: none;
  }

.card {
  border-radius: 10px;
  box-shadow: 2px 3px 4px rgba(0,0,0,0.2);
}

.tab {
  border-radius: 6px;
  border: 1px solid #707070;
  background-color: #fff;
  color: #707070;
  padding: 12px 16px;
  box-shadow: 2px 3px 4px rgba(0,0,0,0.3);
  cursor: pointer;
  font-size: 15px;
}

.tab:hover {
  font-weight: bold;
  box-shadow: none;
}

.tab.active {
  background-color: #227093;
  color: #fff;
  font-weight: bold;
}

.rupees-sym {
  font-family: "Arial, Helvetica, sans-serif";
  font-weight: normal;
}

.btn-blue {
  height: 30px;
  width: 130px;
  padding: 5px 5px;
  color: white;
  background-color: #227093;
  border-radius: 3px;
  border: none;
  font-size: 14px;
}
  
.btn-blue:hover, .btn-blue:focus {
  color: white;
  background-color: #227090;
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.164);
}

  /*----FOOTER CSS----*/
  .page-footer {
    background-image: linear-gradient(#277391 35%, #3497BF 100%);
    border: none;
  }
  
  #vl{
    height: 200px;
    width:1px;
    background-color: #AEAEAE;
  }
  
  #rl{
    height: 1px;
    width:100%;
    background-color: #AEAEAE;
  }
  
  .social-connect img {
    width: 25px;
    height: 25px;
  }
  
  .social-connect img:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
  
  .footer-copyright {
    color: white;
    background-color: #2C596B;
    border: none;
  }  
  
  /*----FOR MOBILE DEVICES----*/
  @media screen and (max-width: 768px) {
    #smaller-border{
      display: none !important;
    }
  }