html, body {
  overflow-x: hidden;
  background-color: #F9F9F9;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0px;
}
  
.dropdown .dropbtn {
  border: none;
  outline: none;
  margin: 0;
}
  
  .dropdown-content {
    display: none;
    position: absolute;
    right: -15px;
    background-color: #fff;
    color: #000;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 10px 20px;
  }
  
  .dropdown-content a.nav-link {
    color: #000 !important;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
.ptr {
  cursor: pointer;
}

  .text-sm {
    font-size: 14px !important;
  }
  
  .text-blue {
    color: #227093 !important;
  }
  
  /*----NAVBAR CSS----*/
  .navbar {
    color: #fff;
    font-size: large;
    box-shadow: none;
    background-color: none;
    transition: 0.6s;
  }
  
  .navbar-brand {
    color: #fff;
  }
  
  .logo {
    width: 45px;
    height: 45px;
    border-radius: 50%;
  }
  
  .nav-item {
    margin: auto 5px;
  }
  
  .nav-link:hover {
    font-weight: bold;
  }
  
  .navbar ul li a {
     color: #fff;
  }
  
  .navbar ul li a.active{
      color: #fff;
      font-weight: bold !important;
  }
  
  .circle {
    background-color: #eee;
    border-radius: 50%;
    border-radius: none;
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
  }
  
  .navbar-light {
    background-color: #fff;
    color: #000 !important;
    transition: 0.6s;
    box-shadow: 2px 3px 4px rgba(0,0,0,0.2);
  }
  
  .navbar-light ul li a.active {
    color: #227093 !important;
  }
  
  .navbar-light #small-border {
    background-color: #000 !important;
  }
  
  #smaller-border {
    height: 4px;
    width: 100%;
    background-color:  #fff;
    border-radius: 5px;
    z-index:1;
    position: relative;
    top: 2px;
  }
  
#top-section {
  background-image: linear-gradient(#277391 35%, #3497BF 100%);
  border: none;
}
  
.file-prop {
  box-shadow: 2px 2px 3px rgba(0,0,0,0.2);
  border-radius: 8px;
}

.file-prop-header {
  background-color: #F1F1F1;
  border: 1px solid #707070;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.file-prop-body {
  background-color: #fff;
  border: 1px solid #B9B9B9;
  padding: 25px 20px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.file-prop-body h6.text-muted {
  width: 170px;
}

.rupees-sym {
  font-family: "Arial, Helvetica, sans-serif";
  font-weight: normal;
}

.info-card {
  background-color: #fff;
  border: 1px solid #B9B9B9;
  border-radius: 8px;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.15);
  padding: 40px 0px 10px 0px;
}

.moveDown {
  transform: translateY(210px);
  transition: 0.8s;
}

.move {
  margin-top: 250px !important;
  transition: 0.8s;
}

.shop-card {
  background-color: #fff;
  border: 1px solid #B9B9B9;
  border-radius: 8px;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.15);
  padding: 25px 0px 10px 0px;
}

.img-container {
  background-color: #fff;
  border-radius: 25px;
  border: 1px solid #ddd;
  padding: 20px;
  box-shadow: 2px 3px 4px rgba(0,0,0,0.2);
}

.wide-box {
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #B9B9B9;
  box-shadow: 2px 3px 4px rgba(0,0,0,0.2);
  padding: 20px 10px;
}

.card-0 {
  width: 80%;
  align-content: center;
  position: relative;
  z-index: 0;
}

.card-0 ul {
  padding-left: 0px !important;
}

#progressbar {
    margin-bottom: 1px;
    overflow: hidden;
    color: lightgrey;
}

#progressbar .active {
    color: #227093;
    opacity: 1;
    font-weight: bold;
    font-size: 20px;
}

#progressbar .done {
  opacity: 1;
  color: #000;
  font-weight: normal;
}

#progressbar li {
    list-style-type: none;
    font-size: 16px;
    width: 25%;
    float: left;
    position: relative;
    opacity: 1;
}

/*Icons in the ProgressBar*/
#progressbar .step:before {
    font-family: FontAwesome;
    content: "";
    background-color: #fff;
    padding-top: 10px;
}

#progressbar #step1:before {
  content: url("Img/order-placed-icon.png");
  background-size: 50px 50px;
  background-position: center center;
  background-repeat: no-repeat;
}

#progressbar #step2:before {
  content: url("Img/printing-icon.png");
  background-size: 50px 50px;
  background-position: center center;
  background-repeat: no-repeat;
}

#progressbar #step3:before {
  content: url("Img/files-ready-icon.png");
  background-size: 50px 50px;
  background-position: center center;
  background-repeat: no-repeat;
}

#progressbar #step4:before {
  content: url("Img/green-tick-icon.png");
  background-size: 50px 50px;
  background-position: center center;
  background-repeat: no-repeat;
}

/*Icon ProgressBar before any progress*/
#progressbar li:before {
    width: 80px;
    height: 80px;
    display: block;
    font-size: 16px;
    color: #C8CBCC;
    background: #fff;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px;
}

/*ProgressBar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 1px;
    background: #ccc;
    opacity: 0.7;
    position: absolute;
    left: 0;
    top: 55px;
    z-index: -1;
}

#progressbar li:last-child:after {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    left: -50%;
}

#progressbar li:nth-child(2):after {
    left: -50%;
}

#progressbar li:nth-child(3):after {
    left: -50%;
}

#progressbar li:first-child:after {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: absolute;
    left: 50%;
    box-shadow: none;
}

/*Color number of the step and the connector before it*/
#progressbar li.active:after, #progressbar li.done:after {
  background: #227093;
  opacity: 1;
}

#progressbar li:after {
  opacity: 1;
}

#progressbar li.active:before, #progressbar li.done:before {
  color: #fff;
  opacity: 1;
}

#progressbar li:before {
  border: 5px solid #fff;
  background-color: #DDE9EE;
  box-shadow: 0px 1px 3px 3px rgba(0,0,0,0.13);
  opacity: 1;
}

#progressbar li.active:before {
  -webkit-animation: 2s infinite focus ease-in-out; /* Chrome, Safari, Opera */ 
  animation: 2s infinite focus ease-in-out;
}

@keyframes focus {
  0% {
    border: 5px solid #0189FF;
    box-shadow: 0px 0px 15px #9FEFFF;
  }
  50% {
    border: 5px solid #fff;
    box-shadow: 0 0 4px grey;
  }
  100% {
    border: 5px solid #0189FF;
    box-shadow: 0px 0px 15px #9FEFFF;
  }
}

/* Chrome, Safari, Opera */
@-webkit-keyframes focus {
  0%   {  border: 5px solid #0189FF;
    box-shadow: 0px 0px 15px #9FEFFF;
  }
  50%  { border: 5px solid #fff;
    box-shadow: 0 0 4px grey;
  }
  100% {  border: 5px solid #0189FF;
    box-shadow: 0px 0px 15px #9FEFFF;
  }
}
 
  /*----FOOTER CSS----*/
  .page-footer {
    background-image: linear-gradient(#277391 35%, #3497BF 100%);
    border: none;
  }
  
  #vl{
    height: 200px;
    width:1px;
    background-color: #AEAEAE;
  }
  
  #rl{
    height: 1px;
    width:100%;
    background-color: #AEAEAE;
  }
  
  .social-connect img {
    width: 25px;
    height: 25px;
  }
  
  .social-connect img:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
  
  .footer-copyright {
    color: white;
    background-color: #2C596B;
    border: none;
  }
  
  /*----FOR MOBILE DEVICES----*/
  @media screen and (max-width: 768px) {
    #smaller-border{
      display: none !important;
    }
  }