html, body {
  overflow-x: hidden;
  background-color: #F9F9F9;
  font-family: 'Poppins', sans-serif;
}

input {
  border-radius: 6px;
  border: 1px solid gray;
  padding: 2px 5px;
}

input:focus, button:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline-width: 0;
}

a, a:hover {
  color: inherit;
  cursor: pointer;
}

a.no-anchor:hover {
  text-decoration: none;
}

.ptr {
  cursor: pointer;
}

.card-0 {
  width: 500px;
  position: relative;
  z-index: 0;
}

.card-0 ul {
  padding-left: 0px !important;
}

#progressbar {
    margin-bottom: 1px;
    overflow: hidden;
    color: lightgrey;
}

#progressbar .active {
    color: #fff;
    opacity: 1;
    font-weight: bold;
}

#progressbar li {
    list-style-type: none;
    font-size: 8px;
    width: 25%;
    float: left;
    position: relative;
    opacity: 1;
}

/*Icons in the ProgressBar*/
#progressbar .tick:before {
    font-family: FontAwesome;
    content: "\f00c";
}

/*Icon ProgressBar before any progress*/
#progressbar li:before {
    width: 24px;
    height: 24px;
    line-height: 16px;
    display: block;
    font-size: 16px;
    color: #C8CBCC;
    background: #C8CBCC;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px;
}

/*ProgressBar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: #fff;
    opacity: 0.7;
    position: absolute;
    left: 0;
    top: 12px;
    z-index: -1;
}

#progressbar li:last-child:after {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    left: -50%;
}

#progressbar li:nth-child(2):after {
    left: -50%;
}

#progressbar li:nth-child(3):after {
    left: -50%;
}

#progressbar li:first-child:after {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: absolute;
    left: -100%;
}

/*Color number of the step and the connector before it*/
#progressbar li.active:after {
  background: #fff;
  opacity: 1;
}

#progressbar li.active:before {
  background-color: #fff;
  color: #fff;
  opacity: 1;
}

#progressbar li.done:before {
  border: 2px solid #075E70;
  background-color: #fff;
  color: #075E70;
  opacity: 1;
}

.dropdown .dropbtn {
  border: none;
  outline: none;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: -15px;
  background-color: #fff;
  color: #000;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 10px 20px;
}

.dropdown-content a.nav-link {
  color: #000 !important;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.text-sm {
  font-size: 14px !important;
}

.text-blue {
  color: #227093 !important;
}

.btn-blue {
  height: 50px;
  width: 155px;
  padding: 5px 5px;
  color: white;
  background-color: #227093;
  border-radius: 3px;
  border: none;
}
  
.btn-blue:hover, .btn-blue:focus {
  color: white;
  background-color: #227090;
}

.btn {
  box-shadow: 2px 3px 3px rgba(0,0,0,0.2);
}

.btn:hover {
  box-shadow: none;
}

.file-box {
  position: relative;
  border: 1px solid #000;
  box-shadow: 2px 3px 3px rgba(0,0,0,0.2);
  max-width: 245px;
  margin-bottom: 50px;
}

.file-box-header h6 {
  font-size: 15px;
  width: 70%;
}

.truncateExtra {
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.remove-file {
  position: absolute;
  width: 25px;
  height: 25px;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  background-color: #000;
  top: -12px;
  right: -12px;
  cursor: pointer;
}

.file-box-header {
  background-color: #227093;
  color: #fff;
}

.file-box-body img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

/*----NAVBAR CSS----*/
.navbar {
  color: #fff;
  font-size: large;
  box-shadow: none;
  background-color: #227093;
  width: 100%;
  transition: 0.6s;
  box-shadow: 2px 3px 4px rgba(0,0,0,0.2);
}

.nav-item {
  margin: auto 5px;
}

.nav-link:hover {
  font-weight: bold;
}

.navbar ul li a {
   color: #fff;
}

.navbar ul li a.active{
    color: #fff;
    font-weight: bold !important;
}

.circle {
  background-color: #eee;
  border-radius: 50%;
  border-radius: none;
  width: 40px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
}

#smaller-border {
  height: 4px;
  width: 100%;
  background-color:  #fff;
  border-radius: 5px;
  z-index:1;
  position: relative;
  top: 2px;
}

.radio-opt {
  border: 1px solid #aaa;
  background-color: #aaa;
  box-shadow: none;
  cursor: pointer;
}

.radio-opt .file-box-body {
  opacity: 0.5;
}

.radio-opt.selected {
  border: 4px solid #227093;
  box-shadow: 2px 3px 3px rgba(0,0,0,0.2);
}

.radio-opt.selected .file-box-body {
  opacity: 1;
}

/*----FOOTER CSS----*/
.page-footer {
  background-image: linear-gradient(#277391 35%, #3497BF 100%);
  border: none;
}

#vl{
  height: 200px;
  width:1px;
  background-color: #AEAEAE;
}

#rl{
  height: 1px;
  width:100%;
  background-color: #AEAEAE;
}

.social-connect img {
  width: 25px;
  height: 25px;
}

.social-connect img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.footer-copyright {
  color: white;
  background-color: #2C596B;
  border: none;
}

/*----FOR MOBILE DEVICES----*/
@media screen and (max-width: 768px) {
  #smaller-border{
    display: none !important;
  }
}