/*@media only screen and (max-width: 500px){
    .shop_details_card{
      width: 450px;
    }
  }
  @media only screen and (max-width: 460px){
    .shop_details_card{
      width: 400px;
    }
  }
  @media only screen and (max-width: 410px){
    .shop_details_card{
      width: 350px;
    }
  }
  @media only screen and (max-width: 360px){
    .shop_details_card{
      width: 300px;
    }
  }
  @media only screen and (max-width: 310px){
    .shop_details_card{
      width: 280px;
    }
  }
  @media only screen and (max-width: 290px){
    .shop_details_card{
      width: 250px;
    }
  }*/
  html, body {
    overflow-x: hidden;
    background-color: #F9F9F9;
    font-family: 'Poppins', sans-serif;
    padding-right: 0px !important;
  }
  
  input {
    border-radius: 6px;
    border: 1px solid gray;
    padding: 2px 5px;
  }
  
  input:focus, button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0;
  }
  
  a, a:hover {
    color: inherit;
    cursor: pointer;
  }
  
  a.no-anchor:hover {
    text-decoration: none;
  }
  
  .ptr {
    cursor: pointer;
  }
  
.fa-times-thin:before {
  content: '\00d7';
}
  
  .dropdown .dropbtn {
    border: none;
    outline: none;
    margin: 0;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    right: -15px;
    background-color: #fff;
    color: #000;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 10px 20px;
  }
  
  .dropdown-content a.nav-link {
    color: #000 !important;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .text-sm {
    font-size: 14px !important;
  }
  
  .text-blue {
    color: #227093 !important;
  }
  
  .box {
    border: dashed 2px #ddd;
    padding: 80px 10px
  }
  
  .btn-blue {
    height: 50px;
    width: 155px;
    padding: 5px 5px;
    color: white;
    background-color: #227093;
    border-radius: 3px;
    border: none;
  }
    
  .btn-blue:hover, .btn-blue:focus {
    color: white;
    background-color: #227090;
    box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.164);
  }
  
  /*----NAVBAR CSS----*/
  .navbar {
    color: #fff;
    font-size: large;
    box-shadow: none;
    background-color: #227093;
    width: 100%;
    transition: 0.6s;
    padding-right: 16px !important;
  }
  
  .nav-item {
    margin: auto 5px;
  }
  
  .nav-link:hover {
    font-weight: bold;
  }
  
  .navbar ul li a {
     color: #fff;
  }
  
  .navbar ul li a.active{
      color: #fff;
      font-weight: bold !important;
  }
  
  .card-0 {
    width: 500px;
    position: relative;
    z-index: 0;
  }
  
  .card-0 ul {
    padding-left: 0px !important;
  }
  
  #progressbar {
      margin-bottom: 1px;
      overflow: hidden;
      color: lightgrey;
  }
  
  #progressbar .active {
      color: #fff;
      opacity: 1;
      font-weight: bold;
  }
  
  #progressbar li {
      list-style-type: none;
      font-size: 8px;
      width: 25%;
      float: left;
      position: relative;
      opacity: 1;
  }
  
  /*Icons in the ProgressBar*/
  #progressbar .tick:before {
      font-family: FontAwesome;
      content: "\f00c";
  }
  
  /*Icon ProgressBar before any progress*/
  #progressbar li:before {
      width: 24px;
      height: 24px;
      line-height: 16px;
      display: block;
      font-size: 16px;
      color: #C8CBCC;
      background: #C8CBCC;
      border-radius: 50%;
      margin: 0 auto 10px auto;
      padding: 2px;
  }
  
  /*ProgressBar connectors*/
  #progressbar li:after {
      content: '';
      width: 100%;
      height: 2px;
      background: #fff;
      opacity: 0.7;
      position: absolute;
      left: 0;
      top: 12px;
      z-index: -1;
  }
  
  #progressbar li:last-child:after {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      position: absolute;
      left: -50%;
  }
  
  #progressbar li:nth-child(2):after {
      left: -50%;
  }
  
  #progressbar li:nth-child(3):after {
      left: -50%;
  }
  
  #progressbar li:first-child:after {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      position: absolute;
      left: -100%;
  }
  
  /*Color number of the step and the connector before it*/
  #progressbar li.active:after {
  background: #fff;
  opacity: 1;
}

#progressbar li.done:after {
  opacity: 1;
}

#progressbar li.active:before {
  background-color: #fff;
  color: #fff;
  opacity: 1;
}

#progressbar li.done:before {
  border: 2px solid #075E70;
  background-color: #fff;
  color: #075E70;
  opacity: 1;
}

@media screen and (max-width: 640px) {
  .card-0 {
    width: 200px;
  }
}

    /*Blue colored checkbox*/
    .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
      background-color: #227093;
      border: none;
    }
    .custom-checkbox2 .custom-control-input2:checked~.custom-control-label2::before {
      background-color: #227093;
      border: none;
    }
    .custom-control-label::before, .custom-control-label::after {
      top: 1.1rem;
      color: #707070;
    }
    .custom-control-label2::before, .custom-control-label2::after {
      top: 1.1rem;
      color: #707070;
    }
    .btn-sleefax {
      min-width: 100px;
      padding: 6px 10px;
      color: white;
      background-color: #227093;
      border-radius: 7px;
      font-size: small;
    }
      
    .btn-sleefax:hover, .btn-sleefax:focus {
      color: white;
      font-weight: bolder;
      box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.2);
    }
  .sort_by{
    background-color: white;
    border-radius: 7px;
    max-width: 250px;
    box-shadow: 0px 0px 2px black;
  }
  .filter_by{
    background-color: white;
    border-radius: 7px;
    max-width: 250px;
    box-shadow: 0px 0px 2px black;
  }
  .line_h{
    max-width: 200px;
    min-width: 140px;
    height: 2px;
    background-color: #707070;
  }
  /* Shop Card*/
  .shop_details_card{
      background-color: white;
      border-radius: 15px;
      box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.164);
  }
.shop_details_card.active {
  border: 2px solid #227093;
}
  .shop_image{
      max-width: 100px;
      max-height: 100px;
      min-height: 60px;
      min-width: 60px;
  }
  .shop_card{
      background-color: #F8F8F8;
      border-radius: 7px;
      width: 148px;
      margin-left: 0px;
      box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.164);
  }
  .shop_name{
      color: #227093;
      font-size: large;
      font-weight: bold;
  }
  .shop_address{
      color: #858585;
      font-size: small;
      font-weight: bold;
  }
  .shop_distance{
      color: #858585;
      font-size: small;
      font-weight: bold;
  }
  .btn-open {
      padding: 3px 6px;
      min-width: 90px;
      color: white;
      background-color: #77BF66;
      border-radius: 7px;
      font-size: small;
    }
    .btn-open:hover, .btn-open:focus {
      color: white;
      font-weight: bolder;
      box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.2);
    }
    .btn-partially-closed {
      min-width: 90px;
      padding: 3px 6px;
      color: white;
      background-color: #C8864C;
      border-radius: 7px;
      font-size: small;
    }
    .btn-partially-closed:hover, .btn-partially-closed:focus {
      color: white;
      font-weight: bolder;
      box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.2);
    }
    .btn-closed {
      min-width: 90px;
      padding: 3px 6px;
      color: white;
      background-color: #C44848;
      border-radius: 7px;
      font-size: small;
    }
    .btn-closed:hover, .btn-closed:focus {
      color: white;
      font-weight: bolder;
      box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.2);
    }
    .fa-clock-o{
        color: #858585;
    }
  .search_text{
      text-align: center;
      height: 32px;
      padding: 6px;
      font-size: 17px;
      border: solid 1px #0D506E; 
      border-right: none;
      color: #948585;
      background-color: white;
      border-bottom-left-radius: 40px;
      border-top-left-radius: 40px;
      float: left;
      width: 80%;
    }
    
  #butn {
    color:#3687e5 ;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
    text-align: center;
    padding: 4px 12px;
    height: 32px;
    background: white;
    font-size: 17px;
    cursor: pointer;
    border: solid 1px #0D506E; 
    border-left: none;
    float: left;
    width: 20%;
  }
    
    #butn:hover {
      background: #ccc;
    }
    
  /*----FOOTER CSS----*/
  .page-footer {
    background-image: linear-gradient(#277391 35%, #3497BF 100%);
    border: none;
  }
  
  #vl{
    height: 200px;
    width:1px;
    background-color: #AEAEAE;
  }
  
  #rl{
    height: 1px;
    width:100%;
    background-color: #AEAEAE;
  }
  
  .social-connect img {
    width: 25px;
    height: 25px;
  }
  
  .social-connect img:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
  
  .footer-copyright {
    color: white;
    background-color: #2C596B;
    border: none;
  }
  
  .slider {
    -webkit-appearance: none;
    width:100%;
    height: 5px;
    border-radius: 5px;
    background: white;
    border: 1px solid #707070;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #227093;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #227093;
    cursor: pointer;
  }
  .shop_image_modal{
    max-width: 110px;
    max-height: 110px;
    min-height: 50px;
    min-width: 50px;
  }
  .shop_card_modal{
    background-color: white;
    border-radius: 17px;
    width: fit-content;
    height: fit-content;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.164);
    border: 1px solid #707070;
  }

  .open {
    text-align: center;
    padding: 3px 6px;
    min-width: 80px;
    height: 25px;
    color: white;
    background-color: #77BF66;
    border-radius: 15px;
    font-size: small;
  }
  
  #progressbar {
      margin-bottom: 1px;
      overflow: hidden;
      color: lightgrey;
  }
  
  #progressbar .active {
      color: #fff;
      opacity: 1;
      font-weight: bold;
  }
  
  #progressbar li {
      list-style-type: none;
      font-size: 8px;
      width: 25%;
      float: left;
      position: relative;
      opacity: 1;
  }
  
  /*Icons in the ProgressBar*/
  #progressbar .tick:before {
      font-family: FontAwesome;
      content: "\f00c";
  }
  
  /*Icon ProgressBar before any progress*/
  #progressbar li:before {
      width: 24px;
      height: 24px;
      line-height: 16px;
      display: block;
      font-size: 16px;
      color: #C8CBCC;
      background: #C8CBCC;
      border-radius: 50%;
      margin: 0 auto 10px auto;
      padding: 2px;
  }
  
  /*ProgressBar connectors*/
  #progressbar li:after {
      content: '';
      width: 100%;
      height: 2px;
      background: #fff;
      opacity: 0.7;
      position: absolute;
      left: 0;
      top: 12px;
      z-index: -1;
  }
  
  #progressbar li:last-child:after {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      position: absolute;
      left: -50%;
  }
  
  #progressbar li:nth-child(2):after {
      left: -50%;
  }
  
  #progressbar li:nth-child(3):after {
      left: -50%;
  }
  
  #progressbar li:first-child:after {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      position: absolute;
      left: -100%;
  }
  
  /*Color number of the step and the connector before it*/
  #progressbar li.active:after {
    background: #fff;
    opacity: 1;
  }
  
  #progressbar li.active:before {
    background-color: #fff;
    color: #fff;
    opacity: 1;
  }
  
  #progressbar li.done:before {
    border: 2px solid #075E70;
    background-color: #fff;
    color: #075E70;
    opacity: 1;
  }
  
  .dropdown .dropbtn {
    border: none;
    outline: none;
    margin: 0;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    right: -15px;
    background-color: #fff;
    color: #000;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 10px 20px;
  }
  
  .dropdown-content a.nav-link {
    color: #000 !important;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .text-sm {
    font-size: 14px !important;
  }
  
  .text-blue {
    color: #227093 !important;
  }
  
  .btn-blue {
    height: 50px;
    width: 155px;
    padding: 5px 5px;
    color: white;
    background-color: #227093;
    border-radius: 3px;
    border: none;
  }
    
  .btn-blue:hover, .btn-blue:focus {
    color: white;
    background-color: #227090;
  }
  
  .btn {
    box-shadow: 2px 3px 3px rgba(0,0,0,0.2);
  }
  
  .btn:hover {
    box-shadow: none;
  }
  
  .circle {
    background-color: #eee;
    border-radius: 50%;
    border-radius: none;
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
  }
  
  #smaller-border {
    height: 4px;
    width: 100%;
    background-color:  #fff;
    border-radius: 5px;
    z-index:1;
    position: relative;
    top: 2px;
  }

.rupees-sym {
  font-family: "Arial, Helvetica, sans-serif";
  font-weight: bold;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 80% !important;
  }
}

  /*----FOOTER CSS----*/
  .page-footer {
    background-image: linear-gradient(#277391 35%, #3497BF 100%);
    border: none;
  }
  
  #vl{
    height: 200px;
    width:1px;
    background-color: #AEAEAE;
  }
  
  #rl{
    height: 1px;
    width:100%;
    background-color: #AEAEAE;
  }
  
  .social-connect img {
    width: 25px;
    height: 25px;
  }
  
  .social-connect img:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
  
  .footer-copyright {
    color: white;
    background-color: #2C596B;
    border: none;
  }
  
  /*----FOR MOBILE DEVICES----*/
  @media screen and (max-width: 768px) {
    #smaller-border{
      display: none !important;
    }
  }